/* ----------------- NAVBAR ----------------- */
.container-fluid, .navbar, li.nav-item {
  height: 100px;
}

/* Remove the padding added by the container-fluid */
.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: -48px; /* To remove a weird white band caused by bootstrap's navbar */
}

.navbar-nav .nav-item {
  height: 100px;
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100%;
}

.navbar-nav li:nth-child(-n+3) {
  margin-right: 1rem;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  height: 100px;
}

/* Fix logo size */
.navbar-brand img {
  height: 100px;
}

.nav-link {
  display: inline-block;
  line-height: 100px;
}
/*
.navbar-nav li:nth-of-type(4) a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-nav li:nth-of-type(4) a:hover .start-planning {
  transform: scale(1.1);
}*/

.navbar-nav .nav-item:nth-child(-n+3) .nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #333;
  position: absolute;
  bottom: 20px; /* Adjust the distance from the text */
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.navbar-nav .nav-item:nth-child(-n+3) .nav-link:hover::after {
  width: 50%;
}

.start-planning {
  background-color: #1a242a;
  color: white;
  text-align: center;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
  transition: transform 0.3s;
}

/* ----------------- BODY ----------------- */
.background-section {
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 95vh; /* Set the height to cover the entire viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-section .container.my-5 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.background-section .container.my-5 h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
}

.background-section .container.my-5 p {
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #fff;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-planning-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: 4px;
  transition: transform 0.3s, background-color 0.3s;
  text-decoration: none;
  border: 2px solid white;
  cursor: pointer;
}

.start-planning-btn:hover {
  transform: scale(1.02);
  background-color: #3a4a52;
}

/* ----------------- FOOTER ----------------- */
footer {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.footer-logo {
  height: 100px;
}

.footer-info-section {
  text-align: right;
}

.footer-info-section h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.footer-info-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.about-us-section h3 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.about-us-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}